.area {
    margin: 10px auto;
    width: 380px;
}

.card {
    width: 380px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Nunito;
}

.card-head {
    text-align: center;
    border-radius: 10px;
}

.card-head>img {
    width: 380px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header {
    margin-top: 5px;
    text-align: center;
}

.header>h4 {
    color: goldenrod;
}

.quick-contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.quick-contact>button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    color: white;
}

#email {
    color: black;
    background-color: white;
}

#email:hover {
    color: white;
    background-color: gray;
    border: 1px solid white;
}

#linkedin {
    color: white;
    background-color: #0072b1;
}

#linkedin:hover {
    color: white;
    background-color: gray;
    border: 1px solid white;
}

.about-short {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}


.interests-short {
    margin-left: 5%;
    margin-right: 5%;
}

.interests-short {
    margin-top: 1%;
}

.card-footer {
    margin-top: 0;
    width: 380px;
    display: flex;
    flex-direction: row;
    background-color: rgb(92, 92, 92);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-footer>i {
    color: rgb(92, 92, 92);
    margin: 3px auto;
    font-size: 30px;
    padding: 1%;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
    width: 30px;
}

.card-footer>i:hover {
    color: rgb(42, 42, 42);
    background-color: rgb(200, 200, 200);
}

.download-button {
    margin: 20px auto;
    text-align: center;
}

.download-button>a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.download-button>a:hover {
    color: black;
    background-color: white;
    letter-spacing: 0.5px;
    transition: 0.7s;
}