#contact_main {
    margin-top: 2%;
}

.container {
    text-align: center;
}

.submission_form>form>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.submission_form>form>ul>li {
    padding-top: 25px;
}

.submission_form>form>ul>li>p {
    font-size: 30px;
}

.submission_form>form>ul>li>input {
    width: 350px;
    color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
}

.submission_form>form>ul>li>input[type="text"] {
    height: 25px;
}

.submission_form>form>ul>li>input[type="email"] {
    height: 25px;
}

.submission_form>form>ul>li>input[type="submit"] {
    width: 180px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
}

.submission_form>form>ul>li>input[type="submit"]:hover {
    height: 30px;
    background-color: white;
    color: black;
    transition: 0.2s;
}

.submission_form>form>ul>li>textarea {
    width: 350px;
    height: 200px;
    resize: none;
    color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
}

@media (max-width: 800px) {
    .submission_form>form>ul>li>input {
        width: 85%;
    }
    .submission_form>form>ul>li>textarea {
        width: 85%;
    }
}


@media (max-width: 800px) {
    .container {
        text-align: left;
    }
}