/* Modification of Default Settings */
* {
    background-color: #000000;
    margin-left: 0;
    margin-top: 0;
}

/* Navigation Bar Styling */
.navbar {
    text-align: center;
    height: 50px;
    background-color: #000000;
    padding-top: 25px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #ffffff;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar>ul>li>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1.5px;
    border-bottom-color: #ffffff;
}

/* Main Part Styling */
main {
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    height: 95%;
}

#header_1 {
    font-size: 60px;
    font-family: Helvetica, Arial, sans-serif;
}

#header_2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Footer Bar Styling */
footer {
    color: white;
    border-top: 1px solid;
    text-align: center;
    width: 80%;
    height: 30px;
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
}

/* Responsive Styling */
@media (max-width: 460px) {
    .navbar {
        font-size: 12px;
    }
}
