/* Modification of Default Settings */
* {
    background-color: #000000;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

/* Navigation Bar Styling */
.navbar {
    text-align: center;
    height: 50px;
    background-color: #000000;
    padding-top: 25px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #ffffff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar>ul>li>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1.5px;
    border-bottom-color: #ffffff;
}
/* Main Part Styling */
main {
    color: white;
    height: 95%;
}

#home_main {
    margin-top: 10%;
    text-align: center;
}

#contact_main {
    margin-top: 2%;
}

#header_1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

#header_2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif';
}


/* Container Styling */
.container {
    text-align: center;
}

/* Submission Form Styling */
.submission_form>form>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.submission_form>form>ul>li {
    padding-top: 25px;
}

.submission_form>form>ul>li>p {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.submission_form>form>ul>li>input {
    width: 350px;
    color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
}

.submission_form>form>ul>li>input[type="text"] {
    height: 25px;
}

.submission_form>form>ul>li>input[type="email"] {
    height: 25px;
}

.submission_form>form>ul>li>input[type="submit"] {
    width: 80px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
}

.submission_form>form>ul>li>input[type="submit"]:hover {
    height: 30px;
    background-color: white;
    color: black;
    transition: 0.2s;
}

.submission_form>form>ul>li>textarea {
    width: 350px;
    height: 200px;
    resize: none;
    color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
}

/* Responsive Styling */
@media (max-width: 500px) {
    .navbar {
        font-size: 12px;
    }
    .container {
        text-align: left;
    }
    .submission_form>form>ul>li>input {
        width: 85%;
    }
    .submission_form>form>ul>li>textarea {
        width: 85%;
    }
    #header_1 {
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 5%;
        margin-right: 5%;
    }
    #header_2 {
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif';
    }
}
@media (max-width: 730px) {
    #header_1 {
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
    }
    #header_2 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif';
    }    
}
