* {
    color: white;
    text-align: center;
}
main {
    margin-top: 2%;
}
.container {
    text-align: center;
}
.container>p {
    font-size: large;
}
.container>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container>ul>li>button {
    color: white;
    width: 200px;
    height: 100px;
    font-size: medium;
    border-radius: 10px;
}

.container>ul>li>button:hover {
    color: black;
    background-color: white;
    transition: 0.2s;
    width: 200px;
    height: 100px;
    font-size: medium;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .container>ul {
        flex-direction: column;
    }
    .container>ul>li {
        padding-bottom: 20px;
    }
}